.container {
    width:100%;
    border:1px solid #b90000;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#0228ff;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}
